footer {
  @include container(row);
  justify-content: center;
  gap: 40px;
  padding-top: 1rem 0;

  .copyright {
    width: 55px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    filter: drop-shadow(15px 0 #ec5242) invert(0); 
  }
  
  .desc {
    font-size: 1.25rem;
    color: #595959;
  }
}