.headline {
  width: 100vw;
  padding: 6rem 1rem;
  align-items: center;
  background: url('/images/main-mobile_bg.png')center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

  &__topic {
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: weight(bold);
    font-size: 2rem;
    padding: 0 0.5rem;
    background: linear-gradient(to right, #e70e02, #fd5200, #f8961e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__topic span {
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 400;
    color: #ec5328;
  }

  &__paragraph {
    font-family: 'lato', sans-serif;
    font-weight: weight(regular);
    border: 4px solid #fff;
    background-color: whitesmoke;
    color: $primary-color;
    margin: 40px 10px;
    padding: 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
  }

  &__date {
    font-family: $cocogoose-font, sans-serif;
    color: #3e3e3e;
    font-size: 1.25rem;
    font-weight: weight(bold);
  }
}