@include media-md {
  .top-header {
    display: flex;
    padding: 0.5rem 10%;
  }

  .sticky {
    position: fixed;
    top: 0;
    padding: 2rem;
    width: 100%;
  }

  .nav-menu {
    flex-direction: row-reverse;
    padding: 1.5% 10%;
    background: #fafafa;
    z-index: 1;

    &__btn {
      visibility: hidden;
      }
  
    &__list-wrapper {
      visibility: visible;
      padding: 1rem 0;
      top: inherit;
      left: inherit;
      background: none;
      opacity: 1;
    
      .list {
        display: flex;
        flex-direction: row;
        height: inherit;
        width: inherit;
        text-align: left;
        position: absolute;
        transform: translateX(0);
        bottom: 0;
        right: 0;
        gap: 70px;
        
        .about {
          color: #ec5242;
        }
      }
    }

    // .campaign {
    //   border: 2px solid #ec5242;
    //   color: #ec5242;
    //   padding: 1rem;
    // }

    &__links {
      color: #3e3e3e;
      font-family: 'Lato', sans-serif;
      font-weight: weight(regular);
      font-size: 1rem;
      // padding-left: 4rem;
    }

    &__links:hover {
      color: #ec5242;
    }

    &__links:active {
      color: #ec5242;
    }

    &__links::after {
      display: block;
      content: '';
      border-bottom: solid 2px #ec5242;
      margin-top: 5px;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &__links:hover::after {
      transform: scaleX(1);
    }
  }

  // Section media query styling

  .headline {
    padding: 8rem 10%;
    align-items: center;
    background-color: #f7f7f7;
    background: url('/images/desktop-main-bg.png')center center;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    &__topic {
      width: 700px;
      font-size: 3.75rem;
    }

    span {
      font-size: 2.5rem;
    }

    &__paragraph {
      max-width: 650px;
      font-size: 1.25rem;
      line-height: 1.5;
      border: 0;
      font-weight: weight(regular);
     
    }

    &__date {
      font-family: $cocogoose-font, sans-serif;
      color: #3e3e3e;
      font-size: 2.5rem;
      font-weight: weight(bold);
    }
  }

  .program {
    
    padding: 3rem 1.5rem;

    &__activities {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    &__more {
      display: flex;
      text-decoration: none;
      font-size: 1rem;
      border-bottom: 1px solid #fbfefb;
      color: #fbfefb;

      &:hover {
        color: #ec4252;
        border-bottom-color: #ec5242;
      }
    }

    &__event {
      display: flex;
      flex-direction: column;
      text-align: center;
      @include transition-ease;
      gap: 0.5rem;
      max-width: 220px;
      max-height: 280px;
      padding: 0.5rem 1rem;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      }
    }

    &__join {
      display: none;
    }
  }

  .speakers-wrapper {
    padding: 5rem 0;
    width: 100%;
    flex-wrap: wrap;

    .speakers {
      height: 660px;
      margin-top: 30px;
      padding: 0 6.25%;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 230px auto;
      grid-column-gap: 20px;

      .hide-speaker {
        display: flex;
      }

      &__name {
        padding: 0.5rem 0;
        font-size: 1.75rem;
      }
    }

    .info-btn {
      display: none;
    }
  }

  footer {
    gap: 50px;
    
    .desc {
      font-size: 1.5rem;
    }
  }

  .about-headline {
    &__topic {
      font-size: 3rem;
      max-width: 50%;
    }

    &__paragraph {
      font-size: 1rem;
      max-width: 70vw;
    }

    &__details {
      font-size: 17px;
      margin-top: 30px;
    }
  }

  .shows {
    &__imgs {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      width: 70%;
      gap: 30px;
    }
  }
}